---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="w-(--content-width) mx-auto p-4 rounded">
    <div class="overflow-x-auto">
      <div class="flex gap-6">
        <section></section>
      </div>
    </div>
  </div>
</Layout>
