@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility scrollbar-hidden {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    opacity: 0;
    display: none;
  }
}

/*
@utility line-bl {
  @apply border-l border-zinc-700/5 dark:border-zinc-300/10;
}

@utility line-br {
  @apply border-r border-zinc-700/5 dark:border-zinc-300/10;
}

@utility line-y {
  @apply relative before:text-zinc-700/5 dark:before:text-zinc-300/10 after:text-zinc-700/5 dark:after:text-zinc-300/10;
  @apply before:absolute before:left-0 before:z-[-1] before:bg-[currentColor];
  @apply after:absolute after:right-0 after:z-[-1] after:bg-[currentColor];
  @apply before:h-[200vw] before:w-[1px] before:translate-y-[-100vw];
  @apply after:h-[200vw] after:w-[1px] after:translate-y-[-100vw];
}

@utility line-x {
  @apply relative before:text-zinc-700/5 dark:before:text-zinc-300/10 after:text-zinc-700/5 dark:after:text-zinc-300/10;
  @apply before:absolute before:top-0 before:z-[-1] before:bg-[currentColor];
  @apply after:absolute after:bottom-0 after:z-[-1] after:bg-[currentColor];
  @apply before:h-[1px] before:w-[200vw] before:translate-x-[-100vw];
  @apply after:h-[1px] after:w-[200vw] after:translate-x-[-100vw];
}
*/

@layer components {

  /** svg background image */
  .svg-background-image {
    --light-a-1: #3245ff;
    --light-a-2: #bc52ee;
    --light-b-1: #d83333;
    --light-b-2: #f041ff;

    --dark-a-1: #00ff9c;
    --dark-a-2: #72bf78;
    --dark-b-1: #ffe3e3;
    --dark-b-2: #d2e0fb;

    --a-1: var(--light-a-1);
    --a-2: var(--light-a-2);
    --b-1: var(--light-b-1);
    --b-2: var(--light-b-2);

    @variant dark {
      --a-1: var(--dark-a-1);
      --a-2: var(--dark-a-2);
      --b-1: var(--dark-b-1);
      --b-2: var(--dark-b-2);
    }

    @apply block w-full h-full object-cover dark:bg-zinc-800;
  }

  /** navbar */
  .navbar-container {
    @apply flex items-center gap-4 px-4 py-2 rounded-xl text-sm font-medium backdrop-blur-sm ring-1 shadow-lg select-none;
    @apply bg-white/90 dark:bg-zinc-800/90;
    @apply text-zinc-800 dark:text-zinc-200;
    @apply ring-zinc-900/10 dark:ring-zinc-100/10;
    @apply shadow-zinc-800/5 dark:shadow-zinc-400/5;
  }

  /** navbar item */
  .navbar-item {
    @apply flex items-center gap-2 px-4 py-2 transition;
    @apply hover:text-teal-500 dark:hover:text-teal-400;

    &.active {
      @apply rounded-xl shadow ring-1;
      @apply text-teal-500 dark:text-teal-400;
      @apply ring-zinc-800/10 dark:ring-zinc-50/10;
      @apply dark:shadow-zinc-950;
    }
  }

  /** scroll x grid */
  .scroll-x-grid {
    @apply grid grid-rows-1 grid-flow-col gap-6;
    @apply scrollbar-hidden overflow-x-scroll scroll-smooth snap-mandatory snap-x;

    /** (100% - (grid-cols_count - 1) * gap) / grid-cols_count */
    @apply [--grid-cols-count:1] md:[--grid-cols-count:2] lg:[--grid-cols-count:3];
    @apply auto-cols-[calc((100%-(var(--grid-cols-count)-1)*var(--spacing)*6)/var(--grid-cols-count))];
  }
}
