---
import "../styles/var.css";
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Project · P</title>
  </head>
  <body>
    <BackgroundImage />

    <div id="app" class="w-full grid grid-cols-[__1fr_var(--gutter-width)_minmax(0,var(--content-width))_var(--gutter-width)_1fr]">
      <div class="col-start-2 col-end-3 w-full h-full">
        <div class="size-full border-l border-zinc-200/5 dark:border-zinc-400/5"></div>
      </div>
    
      <div class="col-start-3 col-end-4 pb-6">
        <header class="flex justify-center items-center py-6">
          <Navbar />
        </header>
        
        <main>
          <slot />
        </main>
      </div>
      
      <div class="col-start-4 col-end-5 w-full h-full">
        <div class="size-full border-r border-zinc-200/5 dark:border-zinc-400/5"></div>
      </div>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  #app {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
  }
</style>
